* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.guideBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  display: none;
}
.guideBox .shut {
  position: absolute;
  top: 0.53333333rem;
  right: 0.53333333rem;
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.guideBox .guideImg {
  width: 100%;
}
.cus-top-notice {
  display: flex;
  align-items: center;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  background-color: #000000;
}
.cus-top-notice .cus-tn-left {
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.cus-top-notice .cus-tn-notices {
  flex: 1;
  font-size: 0.37333333rem;
  line-height: 1.06666667rem;
  position: relative;
  width: 5.62666667rem;
  height: 1.06666667rem;
  overflow: hidden;
}
.cus-top-notice .cus-btn {
  height: 0.69333333rem;
  border-radius: 0.69333333rem;
  line-height: 0.69333333rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  font-size: 0.37333333rem;
  color: #fff;
  background: linear-gradient(to right, #ffd044, #ff9055);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
.title .txt {
  font-size: 0.53333333rem;
  font-weight: 700;
  position: relative;
  padding-left: 0.26666667rem;
}
.title .txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.08rem;
  height: 0.53333333rem;
  background-color: red;
}
.title .number {
  font-size: 0.37333333rem;
  color: gray;
}
.top {
  width: 100%;
  display: block;
}
#list {
  background-color: #efefef;
  padding-left: 0.37333333rem;
  padding-right: 0.37333333rem;
  padding-bottom: 0.8rem;
  padding-top: 0.26666667rem;
}
#list li a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  border-radius: 0.26666667rem;
  margin-top: 0.26666667rem;
  padding: 0.26666667rem;
}
#list li a img {
  width: 1.33333333rem;
  height: 1.33333333rem;
  margin-right: 6px;
  font-size: 0.32rem;
  border-radius: 0.16rem;
}
#list li a .center {
  flex: 1;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#list li a .center .name {
  color: #222;
  font-weight: 700;
  font-size: 0.4rem;
}
#list li a .center .describe {
  font-size: 0.32rem;
  text-align: justify;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 5.06666667rem;
}
#list li a .btn {
  transform: translateY(20%);
  height: 0.88rem;
  line-height: 0.88rem;
  border-radius: 0.16rem;
  padding-left: 0.53333333rem;
  padding-right: 0.53333333rem;
  color: #fff;
  background-color: #44b549;
  font-size: 0.37333333rem;
}
